$dark_blue: #3e14d6;
$white: white;
$peach: #ffb591;
$light_green: #bef8b9;
$purple: #654ef3;
$black: #000000;
$dark_overlay: rgba(17, 15, 27, 0.9);

$input_field: #f4f4f4;
$input_stroke: #dbdbdb;
$input_label: #a7a7a7;
