@use "../abstracts/_vars.scss" as v;

body {
  background-color: grey;
}

.card_form {
  background-color: v.$white;
  padding: 50px 40px 70px 40px;

  p {
    width: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    margin-top: 5px;
  }
}

.form_group_names input,
#email {
  background-color: v.$input_field;
  border: 0.5px solid v.$input_stroke;
  height: 30px;
  width: 98.8%;
  border-radius: 7px;
  margin-top: 25px;

  position: relative;
  padding: 10px 0 0 20px;
}

.form_group_names label,
body > main > div > div > div > div.card_contents.card_form > form > div > label {
  position: absolute;
  z-index: 1;
  height: 40px;

  display: flex;
  align-items: center;

  padding: 0 25px;
  margin-top: -42px;
  transition: 0.2s ease;
}

#last_name + label {
  margin-top: 26px;
}

#email + label {
  color: grey;
}

.checkfield_wrapper {
  background-color: v.$input_field;
  border: 0.5px solid v.$input_stroke;
  min-height: 40px;
  width: 100%;
  border-radius: 7px;
  margin: 5px 0;

  display: flex;
  flex-direction: column;

  margin: 25px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  span {
    color: rgb(151, 151, 151);
    font-size: 0.7rem;
  }
}

.checkfield_label {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.dropdown {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;

  display: none;
  transition: 1s;
}

.card_form li {
  padding: 8px 0;
  display: flex;

  label {
    padding-left: 17px;
  }

  input {
    -webkit-appearance: none;
    appearance: none;

    height: 20px;
    width: 20px;
    background-color: v.$input_field;
    border: 0.5px solid v.$dark_blue;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1000px) {
  .form_group_names {
    display: flex;
  }

  #first_name {
    margin-right: 120px;
  }
  #last_name {
    margin-left: 29px;
  }

  #last_name + label {
    margin-top: 25px;
  }

  #email {
    width: 94.8%;
  }

  body > main > div > div > div > div.card_contents.card_form > form > div.form_group > div.form_group_names > label {
    margin-left: 179px;
  }
}
