@use "../abstracts/_vars.scss" as v;

.card button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #bef8b9;
  border-radius: 25px;
  color: #bef8b9;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  float: right;
}

.background button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #654ef3;
  border-radius: 25px;
  color: #654ef3;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
}

.background a.button:hover {
  background-color: #654ef3;
  color: black;
}

.card_form button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #3e14d6;
  border-radius: 25px;
  color: #3e14d6;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
