@use "../abstracts/_vars.scss" as v;

.card button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #bef8b9;
  border-radius: 50px;
  color: #bef8b9;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  float: right;
}

.card button:hover {
  background-color: #bef8b9;
  color: black;
  transition: 0.7s;
}

.background button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #654ef3;
  border-radius: 50px;
  color: #654ef3;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
}

.background button:hover {
  background-color: #654ef3;
  color: black;
  transition: 0.7s;
}

.card_form button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #3e14d6;
  border-radius: 50px;
  color: #3e14d6;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card_form button:hover {
  background-color: #3e14d6;
  color: black;
  transition: 0.7s;
}

button:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
