@use "../abstracts/_vars.scss" as v;

.card button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid v.$light_green;
  border-radius: 50px;
  color: v.$light_green;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  float: right;
}

.card_welcome button {
  width: 190px;
}

.card_thankyou button {
  width: 200px;
}

.card button:hover {
  background-color: v.$light_green;
  color: v.$black;
  transition: 0.7s;
}

.background button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid v.$purple;
  border-radius: 50px;
  color: v.$purple;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
}

.background button:hover {
  background-color: v.$purple;
  color: v.$black;
  transition: 0.7s;
}

.card_form button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid v.$dark_blue;
  border-radius: 50px;
  color: v.$dark_blue;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card_form button:hover {
  background-color: v.$dark_blue;
  color: v.$black;
  transition: 0.7s;
}

.background button {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
