* {
  margin: 0;
}
body {
  overflow-x: none;
}

.hidden {
  display: none;
}
.card_container {
  display: flex;
  justify-content: center;
  align-content: center;
  //   width: 100vw;
  //   min-height: 600px;
}

.card {
  //   min-height: 600px;
  max-width: 350px;

  .card_welcome,
  .card_form,
  .card_thankyou {
    border-radius: 50px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 50px;
  }

  .card_welcome,
  .card_thankyou {
    min-height: 400px;
  }
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 350px;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    max-width: 500px;
  }
}
