@use "../abstracts/_vars.scss" as v;

* {
  margin: 0;
}
body {
  overflow-x: none;
  background-color: #16162a;
}

.hidden {
  display: none !important;
}

.cards_wrapper {
  width: 100vw;
}

.card_container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: v.$dark_overlay;
  position: absolute;
  top: 0;
}
.card-wrapper {
  padding: 30px;
  position: relative;
}

.card {
  max-width: 350px;

  .card_welcome,
  .card_form,
  .card_thankyou {
    margin-top: 5.5vh;
    border-radius: 50px;
    box-shadow: 0 9.2px 3.5px rgba(0, 0, 0, 0.062), 0 16.3px 8.2px rgba(0, 0, 0, 0.086), 0 22.8px 15.8px rgba(0, 0, 0, 0.106), 0 31.1px 30px rgba(0, 0, 0, 0.129), 0 47.5px 62.1px rgba(0, 0, 0, 0.161),
      0 112px 129px rgba(0, 0, 0, 0.21);
  }

  .card_welcome,
  .card_thankyou {
    min-height: 656px;
  }
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 350px;
  }
  .card-wrapper {
    padding: 70px;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    max-width: 500px;
  }
}
