* {
    margin: 0;
}
body{
    overflow-x: none;
}

.card_container{
    display: flex;
    justify-content: center;
    align-content: center;
    width:100vw;
    min-height: 100vh;
}

.card {
    min-height: 90vh;
    max-width: 90vw;
}

@media screen and (min-width: 600px) {
.card {
    max-width: 60vw;
}
}

@media screen and (min-width: 1000px) {
.card {
    max-width: 40vw;
}
}