@use "../abstracts/_vars.scss" as v;

@font-face {
  font-family: "sharpiro-bold";
  src: url("/ezone-fonts/sharpiro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "sharpiro-regular";
  src: url("/ezone-fonts/sharpiro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "uniform-black";
  src: url("/ezone-fonts/uniform-pro-con-black.woff2") format("woff2");
}

@font-face {
  font-family: "uniform-medium";
  src: url("/ezone-fonts/uniform-pro-con-medium.woff2") format("woff2");
}

.card {
  h1 {
    color: v.$peach;
    font-family: "sharpiro-bold", sans-serif;
  }

  h2 {
    font-family: "sharpiro-bold", sans-serif;
    font-size: 1.2rem;
    color: v.$white;
  }

  p {
    font-family: "sharpiro-regular", sans-serif;
    color: v.$white;
  }
}

.card_form {
  h1 {
    color: v.$dark_blue;
  }

  p {
    color: v.$peach;
  }

  label {
    font-family: "sharpiro-regular", sans-serif;
    font-size: 0.9rem;
  }

  .form_group_names label,
  .checkfield_label label {
    color: grey;
  }
}

button {
  font-family: "uniform-medium", sans-serif;
  font-size: 1rem;
}
