.rotated_once {
  transform: rotateY(-180deg);
}

.rotated_twice {
  transform: rotateY(-360deg);
}

.card_contents {
  backface-visibility: hidden;
  position: absolute;
}

.card_thankyou {
  z-index: -1;
}

.card-depth {
  transform: translateZ(1px) scale(0.98);
  perspective: inherit;
}
