@use "../abstracts/_vars.scss" as v;
details {
  overflow: hidden;
}
details[open] {
  animation: show 2s both;
}

summary {
  user-select: none;
}
@keyframes show {
  from {
    max-block-size: 0px;
  }
  to {
    max-block-size: 1000px;
  }
}
